My Booom project/Library
My Booom project/Logs
My Booom project/Temp
My Booom project/UserSettings
My Booom project/Assembly-CSharp.csproj
My Booom project/obj
My Booom project/.idea
My Booom project/My Booom project.sln
My Booom project/AstarPathfindingProject.csproj
My Booom project/AstarPathfindingProjectEditor.csproj
My Booom project/PackageToolsEditor.csproj
